<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Detail Produk : <%= product.name %> | <%= app.name %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="font-sans font-normal text-black leading-normal bg-grey-lightest">
  <div id="app">
    <%- include('../_partials/sidebar') %>

    <div class="main-content">

      <%- include('../_partials/header') %>

      <div class="container mx-auto px-2 sm:px-4 md:px-8 pb-4">
        <div class="flex">
          <div class="p-4 w-full">
            <h1 class="product-name mt-1 mb-4"><%= product.name %></h1>
          </div>
        </div>

        <div class="flex">
          <div class="p-4 w-full">
            <product-image
              :product-id="<%= product.id %>"
              :default-images="<%= JSON.stringify(product.productImages) %>"
            />
          </div>
        </div>

        <div class="flex">
          <div class="p-4 w-full">
            <div class="mb-4">
              <div class="mb-2 text-grey-darker">Harga</div>
              <div class="product-price text-green text-3xl">Rp. <%= product.price.toLocaleString() %></div>
            </div>

            <div class="mb-4">
              <div class="mb-2 text-grey-darker">Deskripsi</div>
              <div class="product-description"><%= product.description || 'Belum ada deskripsi' %></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/bs-nav.js"></script>
  <script src="/js/product-detail.js"></script>
</body>
</html>
